opentelemetry-sdk==1.12.0
opentelemetry-instrumentation-requests==0.33b0
opentelemetry-instrumentation-logging==0.33b0
opentelemetry-instrumentation-psycopg2==0.33b0
opentelemetry-instrumentation-pika==0.33b0
opentelemetry-instrumentation-digma==0.7.*
python-dotenv
pika==1.2.0
psycopg2>= 2.7.3.1
pydantic
retry
protobuf~=3.20
